<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the attendance_init() hook (in hooks/attendance.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="attendance-empID-<%%VALUE(attID)%%>" class="attendance-empID"><%%VALUE(empID)%%></td>
		<td id="attendance-name-<%%VALUE(attID)%%>" class="attendance-name"><%%VALUE(name)%%></td>
		<td id="attendance-date-<%%VALUE(attID)%%>" class="attendance-date"><%%VALUE(date)%%></td>
		<td id="attendance-time_in-<%%VALUE(attID)%%>" class="attendance-time_in"><%%VALUE(time_in)%%></td>
		<td id="attendance-time_out-<%%VALUE(attID)%%>" class="attendance-time_out"><%%VALUE(time_out)%%></td>
		<td id="attendance-day_of_week-<%%VALUE(attID)%%>" class="attendance-day_of_week"><%%VALUE(day_of_week)%%></td>
		<td id="attendance-hours_worked-<%%VALUE(attID)%%>" class="attendance-hours_worked text-right"><%%VALUE(hours_worked)%%></td>
		<td id="attendance-is_late-<%%VALUE(attID)%%>" class="attendance-is_late"><%%VALUE(is_late)%%></td>
		<td id="attendance-early_out-<%%VALUE(attID)%%>" class="attendance-early_out"><%%VALUE(early_out)%%></td>
