<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the employees_init() hook (in hooks/employees.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="employees-name-<%%VALUE(EmpID)%%>" class="employees-name"><%%VALUE(name)%%></td>
		<td id="employees-department-<%%VALUE(EmpID)%%>" class="employees-department"><%%VALUE(department)%%></td>
		<td id="employees-position-<%%VALUE(EmpID)%%>" class="employees-position"><%%VALUE(position)%%></td>
		<td id="employees-fingerprint1-<%%VALUE(EmpID)%%>" class="employees-fingerprint1"><%%VALUE(fingerprint1)%%></td>
		<td id="employees-fingerprint_2-<%%VALUE(EmpID)%%>" class="employees-fingerprint_2"><%%VALUE(fingerprint_2)%%></td>
		<td id="employees-fingerprint_3-<%%VALUE(EmpID)%%>" class="employees-fingerprint_3"><%%VALUE(fingerprint_3)%%></td>
		<td id="employees-date_enrolled-<%%VALUE(EmpID)%%>" class="employees-date_enrolled"><%%VALUE(date_enrolled)%%></td>
		<td id="employees-active-<%%VALUE(EmpID)%%>" class="employees-active"><%%VALUE(active)%%></td>
